################Import Key requirements#############
os
dotenv


#################Gen requirements###################
openai
langchain
pypdf
chromad
tiktoken
huggingface_hub
diffusers

###########Interface Requirements###################
streamlit
xcode-select
watchdog
#pip install --upgrade streamlit
